:root {
  --color-purple-100: #e4d7ea;
  --color-purple-200: #ceb6dc;
  --color-purple-300: #b795cd;
  --color-purple-400: #a175c0;
  --color-purple-500: #8a53b0;
  --color-purple-600: #6f438d;
  --color-purple-700: #53326a;
  --color-purple-800: #382247;
  --color-purple-900: #1c1124;

  --color-blue-100: #e2e2ec;
  --color-blue-200: #c9cbdf;
  --color-blue-300: #b2b8d4;
  --color-blue-400: #98a0c5;
  --color-blue-500: #7e88b7;
  --color-blue-600: #656d93;
  --color-blue-700: #4c526e;
  --color-blue-800: #33374a;
  --color-blue-900: #1a1c25;

  --color-cyan-100: #e0eff5;
  --color-cyan-200: #c5e7f1;
  --color-cyan-300: #abe1ef;
  --color-cyan-400: #8fd7ea;
  --color-cyan-500: #73cde5;
  --color-cyan-600: #5ca4b7;
  --color-cyan-700: #457b8a;
  --color-cyan-800: #2f535c;
  --color-cyan-900: #182a2f;

  --color-aqua-100: #d8e4e1;
  --color-aqua-200: #b5d0c9;
  --color-aqua-300: #93bfb4;
  --color-aqua-400: #6fa99b;
  --color-aqua-500: #4b9482;
  --color-aqua-600: #3c7768;
  --color-aqua-700: #2d594e;
  --color-aqua-800: #1f3c35;
  --color-aqua-900: #101e1b;

  --color-green-100: #dae0d2;
  --color-green-200: #bac9ab;
  --color-green-300: #9bb487;
  --color-green-400: #799b5f;
  --color-green-500: #588237;
  --color-green-600: #47682c;
  --color-green-700: #354e21;
  --color-green-800: #243517;
  --color-green-900: #121b0c;

  --color-yellow-100: #f4ecd8;
  --color-yellow-200: #ede0b7;
  --color-yellow-300: #e5d596;
  --color-yellow-400: #dec975;
  --color-yellow-500: #d7bd54;
  --color-yellow-600: #ac9743;
  --color-yellow-700: #817233;
  --color-yellow-800: #574c22;
  --color-yellow-900: #2c2712;

  --color-orange-100: #ece0cf;
  --color-orange-200: #ddc9a6;
  --color-orange-300: #cdb17c;
  --color-orange-400: #be9a53;
  --color-orange-500: #af8229;
  --color-orange-600: #8c6821;
  --color-orange-700: #694e19;
  --color-orange-800: #473511;
  --color-orange-900: #241b09;

  --color-red-100: #e7d6d6;
  --color-red-200: #d3b3b3;
  --color-red-300: #bf9191;
  --color-red-400: #ab6e6e;
  --color-red-500: #974c4b;
  --color-red-600: #793d3c;
  --color-red-700: #5b2e2d;
  --color-red-800: #3d1f1f;
  --color-red-900: #1f1010;

  --color-gray-000: #fbf8f9;
  --color-gray-100: #e2e0e1;
  --color-gray-200: #b0aeaf;
  --color-gray-300: #979596;
  --color-gray-400: #7e7d7d;
  --color-gray-500: #656464;
  --color-gray-600: #656464;
  --color-gray-700: #4c4c4c;
  --color-gray-800: #1a1a1a;
  --color-gray-900: #010101;


  --font-serif: 'Source Sans Pro', sans-serif;


}