@mixin lighttheme {
  --color-backgroundColor: var(--color-gray-000);
  --color-textColor: var(--color-gray-900);
  --color-primaryColor: var(--color-purple-500);
  --color-informationColor: var(--color-cyan-600);
  --color-warningColor: var(--color-orange-500);
  --color-successColor: var(--color-green-400);
  --color-destructiveColor: var(--color-red-500);
  --color-grayColor: var(--color-gray-500);
  --color-activeColor: var(--color-cyan-600);
  --color-focusColor: var(--color-purple-400);

  --color-linkColor: var(--color-cyan-600);
  --color-linkHoverColor: var(--color-cyan-700);
  --color-linkActiveColor: var(--color-cyan-800);

  --color-buttonPrimaryColor :var(--color-gray-000);
  --color-buttonPrimaryBackgroundColor: var(--color-primaryColor);
  --color-buttonPrimaryBorder: var(--color-primaryColor);

  --color-buttonSecondaryColor :var(--color-primaryColor);
  --color-buttonSecondaryBackgroundColor: var(--color-backgroundColor);
  --color-buttonSecondaryBorder: var(--color-primaryColor);

  --color-buttonDestructiveColor :var(--color-gray-000);
  --color-buttonDestructiveBackgroundColor: var(--color-destructiveColor);
  --color-buttonDestructiveBorder: var(--color-destructiveColor);

}

:root {
  @include lighttheme();
}

.light {
  @include lighttheme();
}